@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,800&family=Roboto+Mono:ital,wght@0,200;0,300;1,400&display=swap');


main{
    flex: 1;
    min-height: 80vh;
    background-color: var(--corPrimaria);
}
/* FEED CONTAINER */
.feed-container{
    padding: 7em 2em;
    display: grid;
    grid-template-columns: 2fr 6fr;
    column-gap: 4em;
    height: auto;
    
}
.user-logado{
    width: 30px;
    height: 30px;
    filter: invert(1);
}
.filtering{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    max-height: 400px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(69, 66, 100, 0.699);
}

.filtering h5{
    font-size: 1.3em;
    color:  var(--corTexto);
    margin-bottom: .4em;
    text-align: center;
}
.filtering label{
    color: var(--corTexto);
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 2vh;
}
.filtering .search{
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    margin-bottom: 15px;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(69, 66, 100, 0.699);
}
.filtering .search::placeholder{
    color: var(--corTexto);
}
.btn-filtering{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}
.btn-filtering .btn-filter{
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: var(--corSecundaria2);
    color: #fff;
    font-weight: 600;
    font-size: 14px;

}
.central{
    margin-left: auto;
    padding: 0 10px;
    display:  flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}
.central .job-card{
    background-color: #fff;
    padding: 13px;
    margin-bottom: 15px;
    border-radius: 3px;
    height: auto;
    width: 100%;
}
.central .job-card h2 a{
    color: var(--corTexto);
}
.central .job-card h2 a:hover{
    color: var(--corSecundaria2);
}
.central .job-card h4{
    color: var(--corTexto);
    font-weight: 500;
    margin-bottom: 4px;
}
.central .job-card p{
    line-height: 20px;
    padding:  10px 0;    
}
.job-card .central-btn{
    display: inline-block;
    background-color: var(--corDestaque1);
    padding: 8px;
    border-radius: 3px;
    color: #fff;
    font-size: .8em;
}
.job-card .job-details{
    padding-top: 4px;
    margin-right: 5px;
    display: inline-block;
    font-size: .9em;
}
.job-card .job-details img{
    width: 10px;
    height: 10px;

}
/* Admin */
.admin-container{
  display: flex;
  justify-content: stretch;
}
/* SIDE NAVBAR */
.sidebar-container .sidebar {
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #4070f4;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
/*Attendance List section  */
.charts{
  padding: 4em 0 7em 4em;
}
.attendance{
  margin-top: 20px;
  margin-bottom: 4em;
  width: 70vw;
  text-transform: capitalize;
}
.attendance-list{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
table thead tr{
  color: #fff;
  background: #34AF6D;
  text-align: left;
  font-weight: bold;
}
.table th,
.table td{
  padding: 12px 15px;
}
.table tbody tr{
  border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
  background: #f3f3f3;
}
.table tbody tr.active{
  font-weight: bold;
  color: #4AD489;
}
.table tbody tr:last-of-type{
  border-bottom: 2px solid #4AD489;
}
.table button{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #4AD489;
}
.table button:hover{
  background: #4AD489;
  color: #fff;
  transition: 0.5rem;
}
