@charset "UTF-8";
main{
    background-color:  var(--corPrimaria);
    padding: 4em 0 7em 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
main h1{
  color: var(--corTexto);
  text-align: center;
  line-height: 1em;
  font-size: 2em;
  margin-bottom: 30px;
}

/* LOGIN */
.form-container-login {
    width: 500px;
    height: auto;
    border-radius: 0.75em;
    background-color: #fff;
    padding: 2.3em;
    color: var(--corTexto);
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.303);
  }
  
  .title-login {
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    font-weight: 700;
  }
  
  .form-login{
    margin-top: 1.5em;
  }
  
  .input-group {
    margin-top: 0.80em;
    line-height: 1.25rem;
    margin-bottom: 0.70em;
  }
  
  .input-group label {
    display: block;
    color: var(--corTexto);
    margin-bottom: 4px;
  }
  .input-group input, .input-group select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  }
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--corTexto);
    margin: 8px 0 14px 0;
  }
  
  .forgot a{
    color: inherit;
    font-size: 14px;
  }
  .signup{
    font-size: 1.1em;
  }
  .signup a{
    color: inherit;
    font-weight: 600;
  }
  .forgot a:hover, .signup a:hover {
    text-decoration: underline #323232d4;
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: var(--corDestaque1);
    padding: 0.75rem;
    text-align: center;
    color: var(--corPrimaria);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: var(--corDestaque1);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--corTexto);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    margin-left: 8px;
    cursor: pointer;
  }
  .signup {
    font-weight: 500;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
    color: var(--corTexto);
  }

  /* REGISTER */
.container-register{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.message {
  text-align: center;
  font-size: 2vh;
}
.message a{
  color: var(--corDestaque1);
  font-weight: 600;
}
.message a:hover{
  color: inherit;
  text-decoration: underline 2px var(--corDestaque1);
}
.obrigatorio{
  color: red;
}
form{
  margin: 20px 0 12px 0;
}
form .button{
  height: 45px;
  margin: 35px 0;
}
form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: var(--corDestaque1);
}

.single-container{
  display: flex;
  align-items: center;
  gap: 25px;
}
.single{
  width: 700px;
}

 /* MANAGE */ 
.container-manage{
  width: 80vw;
  height: 65vh;
  border-radius: 10px;
  background-color: #fff;
}
.container-manage .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
    margin: 20px;
}

.create-btn{
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  align-self: flex-end;
  background-color: rgb(55, 211, 55);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.create-btn .fa-circle-plus{
  margin-right: 6px;
}
.create-btn.edit{
  background-color: var(--corDestaque1);
}
.create-btn.delete{
  background-color: rgb(222, 68, 68);
}

.divTable {
  padding: 10px;
  width: auto; 
  height: inherit; 
  overflow:auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; 
}
.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray; 
}
table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}
thead {
  background-color: inherit;
}
tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 60px;
  border-right: 1px solid #323232d4;
  border-bottom: 1px solid #323232d4;
}
thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
  width: 300px;
  border-right: 1px solid #323232d4;
  border-bottom: 1px solid #323232d4;
}
thead tr th:last-child, tbody tr td:last-child{
  border-right: none;
}
tbody tr {
  margin-bottom: 50px;
}

/* CREATE POST */
.container-post{
  width: 80vw;
  background-color: #fff;
  padding:  2em;
}
.container-post .group-input{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.group-input input[type="text"]{
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 2em;
  padding: 0 4em 0 0;
  color: var(--corSecundaria1);
  font-weight: 600;
}
.container-post .group-input label{
  font-size: 18px;
  padding: 10px;
  align-self: flex-start;
  width: 100px;
  margin-right: 20px;
  font-weight: 500;
}

.container-post .group-input select{
  height: 45px;
  max-width: 300px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
}
.container-post .group-input textarea{
  outline: none;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  font-size: 18px;
  border-bottom-width: 3px;
  border-right-width: 3px;
  border-radius: 5px;
}
.group-input .btn-post{
  cursor: pointer;
  padding: 10px;
  outline: none;
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #049c04;
}
.group-input .btn-post:last-child{
  background-color: rgb(130, 18, 18);
  margin-right: 0;
}
.group-input.btn-row{
  justify-content: flex-end;
}
/* Profiles Management */
.description{
  font-size: 1.2em;
  font-weight: 600;
  align-self: flex-start;
}
.profile-container{
  display: flex;
  justify-content: space-around;
  padding: 20px; 
  width: 100%;
}
.profile-container .line-{
  border-right: 1px solid #ccc;
}
.img-settings{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  align-items: center;
  background-color: #fff;
  padding: 2em;
}
.img-settings .pic .profile-pic{
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px 0;
  background-color: #e0e0e0;
  border-radius: 50%;
  border: 14px solid #ccc;
  overflow: hidden;
  color: #3e3e3e;
}
.pic button{
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  outline: none;
  border: 0;
  display: inline-flex;
  align-self: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);

}
.img-settings .setting{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.setting button, .input-group.profile-g button{
  width: 100%;
  margin-bottom: 2px;
  cursor: pointer;
  padding: 7px;
  outline: none;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
}

.setting button:last-child{
  border: none;
}
.profile-container .info-details{
  display: flex;
  width: 800px;
  flex-direction: column;
  padding: 10px;
}
.input-group.profile-g button {
  width: 120px;
  cursor: pointer;
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.418);
}
