@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonteBody);
    text-decoration: none;
    list-style: none;
}
:root{
    --fonteBody: "Montserrat", sans-serif;
    --fonteDestaque: "Roboto Mono", monospace;
    --corPrimaria: #ebebeb;
    --corSecundaria1: #454264;
    --corSecundaria2: #388659;
    --corDestaque1: #de9e36;
    --corTexto: #1b1b1b;
    --sombraSecundaria1: #a7a0e5 ;
    --sombraSecundaria2: #75dca0 ;
    --sombraDestaque: #fbcc7f ;
}

body, header, .info-container, .info-row, .services-container, .services-row, .brand-container, .footer-container, .footer-row, .copyright .social {
    display: flex;
} 
header,.info-container, .info-row, .services-row
.brand-container, .copyright .social{
    align-items: center;
} 
.logo, .nav-menu a, .info-btn-check, footer, .footer-row a, .copyright p, .utilities h2, .utilities a, .utilities a:hover{
    color: var(--corPrimaria);
}

body{ /* Para fazer o footer ficar sempre embaixo */
    min-height: 100vh;
    flex-direction: column;
}
/*HEADER */
header{
    justify-content: space-between;
    height: 4em;
    padding: 0 7em;
    background-color: var(--corSecundaria1);
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}
.logo{
    padding: 3px;
}
.logo img{
    width: 230px;
    height: auto;
}
.profile{
    position: relative;
}
.user-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 2%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition:  max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #fff;
    padding: 10px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h4{
    font-weight: 400;
    font-size: 1.2em;
}
.user-info img{
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    padding: 6px;
}
.sub-menu-link .icon{
    font-size: 1.2em;
}
.sub-menu-link p{
    width: 100%;
    font-size: 0.9em;
    margin-left: 15px;
    transition: font-weight 0.1s;
}
.sub-menu-link .fa-arrow-right{
    font-size: 20px;
    font-size: .7em;
    transition: transform 0.5s;
}
.sub-menu-link:hover .fa-arrow-right {
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: bold;
}
.nav-menu a{
    padding: 8px;
    line-height: 2em;
}

.btn{
    display: inline-block;
    background-color: var(--corDestaque1);
    padding: 0 6px;
    border-radius: 5px;
    margin-left: 2em;
}

/* Content Start*/
main{
    flex: 1;
}

/* Info Sections */
.info-container{
    background-color: var(--corPrimaria);
    flex-direction: column;
    justify-content: center;
}
 .info-row{
    flex-grow: 1;
    justify-content: center;
    margin: 3.9em;
    width: 90vw;
    background-color: transparent;
}
.info-row img{
    width: 40%;
}
.info-content{
    text-align: justify;
    margin: 3em;
    line-height: 3em;
}
.info-category{
    display: inline-block;
    font-size: .94em;
    background-color: var(--corSecundaria2);
    padding: 6px 12px;
    border-radius: 6px;
}
.info-title{
    margin: 10px 0px;
    font-size: 2em;
    font-weight: 900;
    font-family: var(--fonteDestaque);
}

.info-content p{
    font-size: 0.98em;
    width: 490px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.3em;
}
.info-btn-check{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--corDestaque1);
}

/* Services sections */
.services-title{
    text-align: center;
    font-size: 2em;
    color: var(--corPrimaria);
}
.services-container{
    height: 700px;
    align-items: center;
    justify-content: center;
    background-color: var(--corSecundaria2);
    padding: 3em 4em 4em 4em;
}
.services-row{
    background-color: var(--corPrimaria);
    width: 400px;
    height: 420px;
    max-height: 420px;
    flex-direction: column;
    margin: 3em 3em 0 0;
    padding: 9px;
    box-shadow:  4px 3px 15px  rgba(0, 0, 0, 0.116);
    border-radius: 7px;
}
.services-row img{
    max-width: 170px;
    width: 100%;
    max-height: 200px;
    align-self: flex-end;
    margin: 10px;
}
.services-row h2{
    padding: 9px 0 6px 0;
    align-self: flex-start;
}
.services-row p{
    line-height: 1.3em;
    align-self: center;
    text-align: justify;
}
/* footer start */
footer{
    background-color: var(--corSecundaria1);
    height: auto;
}
footer img{
    width: 100%;

}
.footer-container{
    padding-top: 5em;
    justify-content: center;
    align-items: flex-start;
}
.footer-row{
    flex-direction: column;
    margin-right: 4em;
}
.footer-row a{
    display: block;
    margin-bottom: 6px;
}
.copyright{
    width: 600px;
    padding: 0 2em;
    align-self: flex-start;
}
.copyright .logo{
    width: 80px;
    height: 80px;
    margin-bottom: 3px;
}
.copyright p{
    padding: 4px;
    margin-bottom: 8px;
    font-size: .8em;
    color: var(--corPrimaria);
}
.copyright hr{
    border-style: solid;
    border-color: var(--corPrimaria);
    opacity: 0.8;
}
.copyright .social{
    display: flex;
    padding: 7px;
    width: 19vw;
    margin: 7px 0;
}
.copyright .social a{
    padding: 7px;
    font-size: 1.5em;
    margin-right: 30px;
    margin-bottom: 0;
}
.utilities{
    padding: 10px;
    margin-right: 2em;
    font-size: 1rem;

}
.utilities h2{
    font-size: 1.2em;
    padding-bottom: 8px;
}
    .utilities a:hover{ text-decoration: underline solid rgb(196, 196, 196)  1px; }

/* Index Candidatos */
.banner{
    padding: 10px 20px;
    background-color: var(--corSecundaria2);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .content{
    color: var(--corPrimaria);
    text-align: center;
    margin: 50px 0;
    width: 100%;
    font-size: 2em;
    
}
.banner .content h1 span{
    background-color: var(--corDestaque1);
    padding: 0 8px;
    border-radius: 70px 10px;
    font-family: var(--fonteDestaque);
}
.content p{
    font-size: 20px;
    font-style: italic;
}

.banner .form-search{
    display: flex;
    justify-content: space-around;
    background-color: var(--corPrimaria);
    width: 1200px;
    padding: 6px;
    margin: 0 auto;
    border-radius: 10px 30px 30px 10px;
}

.form-search .form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-right: 4px;
}
    .form-search .form-group:last-child{
        margin-left: 10px;
    }
    .form-search .form-group:nth-child(2) select{
        border: none;
    }
.form-search .form-group input, .form-search .form-group select{
    width: inherit;
    height: 45px;
    outline: 0;
    padding: 0 80px 0 30px;
    border: none;
    border-right: 2px solid #ccc;
    background-color: inherit;
    appearance: none;
    font-size: 14px;
    font-weight: 500;
}
.wave{
    display: block;
    margin-bottom: -200px;
    width: 100%;
}
.wave2{
    margin-top: -200px;
    display: block;
    width: 100%;
}
.form-search .form-group button{
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 45px;
    border: none;
    background-color: var(--corSecundaria1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--corPrimaria);
}
.form-search .form-group button .fa-magnifying-glass{
    color: inherit;
    margin-right: 15px;
}
/* Segundo container */

.row{
    padding: 4em;
    background-color: inherit;
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: transparent;
    margin-bottom: 3em;
}

.row img{
    width: 400px;
    height: auto;
}
.row .row_content{
    padding: 20px;
    width: 800px;
    height: auto;
    font-weight: 500;
    color: var(--corTexto);
}
.row_content .row_title{
    font-size: 3em;
    margin-bottom: 0.3em;
    font-family: var(--fonteDestaque);
}
.row .row_content p, .row .row_content ul li {
    line-height: 1.6em;
    margin-bottom: 20px;
    text-align:  justify;
}

.row_content ul li .fa-circle-check{
    font-size: inherit;
    margin-right: 6px;
    color: var(--corDestaque1);
}
/* Terceiro cards*/
.row.benefits{
    margin-bottom: 0;
    justify-content: space-evenly;
    background-color:  var(--corDestaque1)
}
.row.benefits .row_content{
    color: var(--corPrimaria);
}
.card {
    width: 285px;
    height: 381px;
    color: white;
    display: grid;
    grid-template-columns: fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
}

.card .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item .icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
}

.item--1 {
    background: var(--sombraSecundaria2);
}
.item--2 {
    background: var(--sombraSecundaria1);
}
.quantity {
    font-size: 2em;
    font-weight: 600;
}

.text {
font-size: 15px;
font-family: inherit;
font-weight: 600;
}

.text--1, .item--1 .icon {
color: var(--corSecundaria2);
}

.text--2, .item--2 .icon {
color: var(--corSecundaria1);
}

